<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Add Projects'" [items]="['Projects']" [active_item]="'Add Projects'"></app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Add Projects</h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="projectForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Project Title</mat-label>
                    <input matInput formControlName="titleId" placeholder="Project Title" required>
                    <mat-error *ngIf="projectForm.get('titleId').hasError('required')">
                      Project Title is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Client</mat-label>
                    <mat-select formControlName="client" required>
                      <mat-option *ngFor="let client of clientList" [value]="client.id">{{client.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="projectForm.get('client').hasError('required')">
                      Client is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Rate</mat-label>
                    <input matInput formControlName="rate" type="number" required>
                    <mat-error *ngIf="projectForm.get('rate').hasError('required')">
                      Rate is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Team</mat-label>
                    <mat-select formControlName="team" multiple required>
                      <mat-option *ngFor="let team of teamList" [value]="team.id">{{team.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Project Start Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="startDate" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="projectForm.get('startDate').hasError('required')">
                      Please select date
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Project End Date</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="endDate" required>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-error *ngIf="projectForm.get('endDate').hasError('required')">
                      Please select date
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
                  <mat-label>Project Status: </mat-label>
                  <mat-radio-group formControlName="status">
                    <mat-radio-button *ngFor="let status of statusList" [value]="status.value">{{status.name}}</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Description Of The Project</mat-label>
                    <textarea matInput formControlName="description" class="description-area" required>
                    </textarea>
                    <mat-error *ngIf="projectForm.get('description').hasError('required')">
                      Description is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                  <button class="btn-space" [disabled]="!projectForm.valid " mat-raised-button
                    color="primary">Submit</button>
                  <button type="button" mat-button>Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>