<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 ms-2 me-2 font-17">
            {{dialogTitle}}</div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="projectForm">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Project Title</mat-label>
            <input matInput formControlName="title" placeholder="Project Title" required>
            <mat-icon matSuffix>title</mat-icon>
            <mat-error *ngIf="projectForm.get('title').hasError('required')">
              Project Name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width " appearance="outline">
            <mat-label>Client</mat-label>
            <mat-select formControlName="clientId" id="clientId" required>
              <mat-option *ngFor="let c of clientList" [value]="c.id">{{c.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="projectForm.get('clientId').hasError('required')">
              Client is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Rate</mat-label>
            <input matInput formControlName="rate" placeholder="Rate">
            <mat-icon matSuffix>money</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width " appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status" id="status" required>
              <mat-option [value]="statusChoices.Pending">Pending</mat-option>
              <mat-option [value]="statusChoices.InProgress">In Progress</mat-option>
              <mat-option [value]="statusChoices.Completed">Completed</mat-option>
            </mat-select>
            <mat-error *ngIf="projectForm.get('status').hasError('required')">
              Status is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Start Date</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="startDate" required>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error *ngIf="projectForm.get('startDate').hasError('required')">
              Please select date
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Deadline Of Project</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="endDate" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="projectForm.get('endDate').hasError('required')">
              Please select date
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Descriptions Of The Project</mat-label>
            <textarea matInput formControlName="description" class="description-area" required>
            </textarea>
            <mat-error *ngIf="projectForm.get('description').hasError('required')">
              Descriptions is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row" align="end">
            <button mat-raised-button color="primary" [disabled]="!projectForm.valid" [mat-dialog-close]="1"
              (click)="save()">Save</button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>