<div class="board">

  <div *ngFor="let list of lists | keyvalue: unsorted" class="list">

    <div class="header">
      <div class="title">
        <h2>
          <ng-container [ngSwitch]="list.key">
            <ng-container *ngSwitchCase="'Pending'">Pending</ng-container>
            <ng-container *ngSwitchCase="'InProgress'">In Progress</ng-container>
            <ng-container *ngSwitchCase="'Completed'">Completed</ng-container>
          </ng-container>
        </h2>
        <div class="count">{{ list.value.length }} {{ list.value.length | pluralize: 'project':'projects':'projects' }}
        </div>
      </div>
    </div>

    <ul class="projects" id="{{ list.key }}" cdkDropList cdkDropListSortingDisabled [cdkDropListData]="list.value"
      [cdkDropListConnectedTo]="['Pending', 'InProgress', 'Completed']" (cdkDropListDropped)="drop($event)">

      <li class="project " cdkDrag [cdkDragData]="project" (dblclick)="editProjectDialog(project)"
        *ngFor="let project of list.value">
        <h4 class="project-title"><span class="material-icons-outlined project-icon">
            task_alt
          </span>{{ project.title }}</h4>
        <small class="block text-ellipsis mb-4">
          <span class="text-xs"></span> <span class="text-muted">{{ project.description | truncate:[280, '&hellip;'] }}</span>
        </small>
        <p></p>
        <div class="project-members m-b-15">
          <ul class="team-members">
            <li class="dropdown avatar-dropdown">
              <div class="row">
                <div class="col-5 pro-left mb-2">Client:</div>
                <div class="col-7 pro-left mb-2">
                  <span class="material-icons-outlined project-icon2">work</span>
                  <small class="block text-ellipsis m-b-15">
                    <span class="text-xs"></span> <span class="text-muted">{{ getName(project.clientId) }}</span>
                  </small>
                </div>

                <div class="col-5 pro-left mb-2">Rate:</div>
                <div class="col-7 pro-left mb-2">
                  <span class="material-icons-outlined project-icon2">trending_up</span>
                  {{ project.rate }}
                </div>

                <div class="col-5 pro-left mb-2">Start Date:</div>
                <div class="col-7 pro-left mb-2">
                  <span class="material-icons-outlined project-icon2">date_range</span>
                  {{ project.startDate | date }}
                </div>

                <div class="col-5 pro-left mb-2">End Date:</div>
                <div class="col-7 pro-left mb-2">
                  <span class="material-icons-outlined project-icon2">date_range</span>
                  {{ project.endDate | date }}
                </div>
              </div>
            </li>
          </ul>
        </div>
        
        

        <button mat-icon-button class="project-actions" [matMenuTriggerFor]="menu"
          (dblclick)="null">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="project-actions-menu">
          <button mat-menu-item (click)="editProjectDialog(project)">
            <mat-icon>edit</mat-icon>
            <span>Edit Project</span>
          </button>
          <button mat-menu-item (click)="removeProject(project)">
            <mat-icon>delete</mat-icon>
            <span>Delete Project</span>
          </button>
        </mat-menu>
      </li>

    </ul>

  </div>

</div>